@model ProjeModel.Entities.UrunRenkleri

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UrunRenkleri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Renk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktifMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilindiMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SilindiMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilinmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SilinmeTarihi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
