@model ProjeModel.Entities.UrunRenkleri

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UrunRenkleri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Renk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktifMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilindiMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SilindiMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KayitTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilinmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SilinmeTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
