@using ProjeModel.Entities
@using ProjeModel.Extensions
@{
    Entities db = new Entities();
}
<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Owl Carousel CSS -->
    <link href="/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-2 logo">
                    <a href="/">
                        <img src="/images/ec-logo.jpg" />
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="row ustalan">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Arama" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-siteColor" type="button" id="button-addon2">
                                        <i class="fa fa-search" aria-hidden="true"></i> Ara
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    @if (Session["Uye"] == null)
                                    {
                                        <a href="#" class="btn btn-siteColor btn-block" data-toggle="modal" data-target="#uyeGirisi">
                                            <i class="fa fa-user-o" aria-hidden="true"></i> Üye Girişi / Üye Ol
                                        </a>
                                    }
                                    else
                                    {
                                        <div class="btn-group btn-block">
                                            <button type="button" class="btn btn-siteColor dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-user-o" aria-hidden="true"></i> @Session["Uye"].ToUye().Ad @Session["Uye"].ToUye().Soyad
                                            </button>
                                            <div class="dropdown-menu">
                                                <li><a href="@Url.Action("Bilgilerim","Uye")">Bilgilerim</a></li>
                                                <li><a href="@Url.Action("Siparislerim","Uye")">Siparişlerim</a></li>
                                                <div class="dropdown-divider"></div>
                                                <li><a href="@Url.Action("Cikis","Uye")">Oturumu Kapat</a></li>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-outline-siteColor btn-block">
                                        <i class="fa fa-truck" aria-hidden="true"></i> Kargom Nerede?
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index","Sepet")" class="btn btn-outline-siteColor btn-block" onmouseover="SepetiGoster();">
                                        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Sepetim
                                        <span class="badge badge-danger pull-right mt-1 sepetCount">@Methodlar.SepetUrunSayisi()</span>
                                    </a>
                                    <div class="alisverisSepeti" onmouseleave="SepetiGizle();">
                                        <div class="row">
                                            <div class="col-md-12 sepetUrunleri">
                                                @Html.Raw(Methodlar.SepetUrunGoster())
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="@Url.Action("Index","Sepet")" class="btn btn-danger btn-sm btn-block">Sepetim</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="@Url.Action("Index","Sepet")" class="btn btn-danger btn-sm btn-block">Alışverişi Tamamla</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse text-center" id="navbarNav">
                                    <ul class="navbar-nav">
                                        @foreach (var item in db.Kategoriler.Where(x => (x.SilindiMi == null || x.SilindiMi == false) && x.AktifMi == true))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index","Kategori",new { id=item.id })">@item.Adi</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="ikonlar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <i class="fa fa-truck" aria-hidden="true"></i> ÜCRETSİZ KARGO
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-recycle" aria-hidden="true"></i> DEĞİŞİM VE İADE GARANTİSİ
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-shield" aria-hidden="true"></i> GÜVENLİ ALIŞVERİŞ
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-money" aria-hidden="true"></i> HAVALE/EFT İLE ÖDEME
                    </div>
                </div>
            </div>
        </div>

        <div class="altMenu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" style="border-right: 1px solid #999;">
                        <div class="footerLogo">
                            <div class="text-center">
                                <img src="/images/footer-logo.png" />
                            </div>
                            <div class="pull-right mt-2 mr-2">
                                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row footerMenu">
                            <div class="col-md-3">
                                <h4>YARDIM</h4>
                                <ul>
                                    <li><a href="#">İade &amp; Değişim Hakkı</a></li>
                                    <li><a href="#">Müşteri Hizmetleri</a></li>
                                    <li><a href="#">Ödeme ve Taksit Seçenekleri</a></li>
                                    <li><a href="#">Teslimat ve Kargo Bilgileri</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>SÖZLEŞMELER</h4>
                                <ul>
                                    <li><a href="#">İptal &amp; İade Koşulları</a></li>
                                    <li><a href="#">Gizlilik Sözleşmesi</a></li>
                                    <li><a href="#">Satış Sözleşmesi</a></li>
                                    <li><a href="#">Üyelik Sözleşmesi</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>ALIŞVERİŞ BİLGİLERİ</h4>
                                <ul>
                                    <li><a href="#">Üyelik</a></li>
                                    <li><a href="#">Sipariş Bilgilerim</a></li>
                                    <li><a href="#">Ödeme Bilgilerim</a></li>
                                    <li><a href="#">Sipariş Takip</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>KURUMSAL</h4>
                                <ul>
                                    <li><a href="#">Hakkımızda</a></li>
                                    <li><a href="#">Mağazalar</a></li>
                                    <li><a href="#">İş Ortaklığı</a></li>
                                    <li><a href="#">İletişim</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row copyright">
                    <div class="col-md-4">
                        &copy; 2020 304 Sınıfı - Tüm Hakları Saklıdır.
                    </div>
                    <div class="col-md-8 text-right">
                        <img src="/images/banka/footer-advantage.png" />
                        <img src="/images/banka/footer-axess.png" />
                        <img src="/images/banka/footer-bonuscard.png" />
                        <img src="/images/banka/footer-cardfinans.png" />
                        <img src="/images/banka/footer-mastercard.png" />
                        <img src="/images/banka/footer-maximum.png" />
                        <img src="/images/banka/footer-paraf.png" />
                        <img src="/images/banka/footer-visa.png" />
                        <img src="/images/banka/footer-world.png" />
                    </div>
                </div>

            </div>
        </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="uyeGirisi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title siteYaziColor" id="exampleModalCenterTitle">ÜYE GİRİŞİ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("Giris", "Uye", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email Adresi</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="Email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Parola</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="Parola" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row" style="width:100%;">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#uyeKayit">ÜYE KAYIT OL!</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit" class="btn btn-siteColor">GİRİŞ YAP</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="uyeKayit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title siteYaziColor" id="exampleModalCenterTitle">KAYIT OL!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("Kayit", "Uye", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Ad</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Ad" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Soyad</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Soyad" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="Email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Parola</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="Parola" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Parola (Tekrar)</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="ParolaTekrar" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row" style="width:100%;">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit" class="btn btn-siteColor">KAYIT OL</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $('.sepeteEkle').click(function (event) {
                var postForm = {
                    'id': $(this).data('id'),
                    'adet': $(this).data('adet'),
                    'renk': $(this).data('renk'),
                    'numara': $(this).data('numara')
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SepeteEkle","Sepet")',
                    data: postForm,
                    dataType: 'json',
                    success: function (data) {
                        if (data.Success) {
                            var count = parseInt($('.sepetCount').html());
                            count++;
                            $('.sepetCount').html(count);
                            $('.sepetUrunleri').html(data.Message);
                        }
                    },
                    error: function () {
                        console.log('hata verdi.');
                    }
                });
            });
        });
    </script>
</body>
</html>