@using ProjeModel.Entities
@using ProjeModel.Extensions
@model Urunler

@{
    ViewBag.Title = Model.Adi;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row kategoriYolu">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Anasayfa</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Kategori",new { id = Model.KategoriID })">@Model.Kategoriler.Adi</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Adi</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img id="urunDetayResim" src="/images/urunler/urun1.jpg" class="img-fluid img-thumbnail" />
        <div class="row mt-3">
            @foreach (var item in Model.UrunResimleri)
            {
                <div class="col-sm-3">
                    <img src="http://localhost:49991/@item.Resim" class="img-fluid img-thumbnail" onclick="urunGoster(this);" />
                </div>
            }
            @*<div class="col-sm-3">
                <img src="/images/urunler/urun2.jpg" class="img-fluid img-thumbnail" onclick="urunGoster(this);" />
            </div>
            <div class="col-sm-3">
                <img src="/images/urunler/urun3.jpg" class="img-fluid img-thumbnail" onclick="urunGoster(this);" />
            </div>
            <div class="col-sm-3">
                <img src="/images/urunler/urun4.jpg" class="img-fluid img-thumbnail" onclick="urunGoster(this);" />
            </div>*@
        </div>
    </div>
    <div class="col-md-6">
        <h3>@Model.Adi</h3>
        <div class="mb-2">
            <span class="siteYaziColor urunDetayFiyat">@Model.Fiyat.IndirimliFiyat(Model.indirim)</span>
            <span class="urunDetayEskiFiyat">@Model.Fiyat.Value.ToString("C")</span>
            <span class="pull-right text-center border border-dark px-5 py-2 font-weight-bolder">
                %@Model.indirim<br />İndirim
            </span>
        </div>
        <div class="clearfix"></div>

        @using (Html.BeginForm("Ekle","Sepet",FormMethod.Post))
        {
            @Html.HiddenFor(x => x.id)
            <hr />
            <div class="mb-5">
                <div class="form-group">
                    <label><b>Renk</b></label>
                    <select class="form-control" name="renk" style="width:auto;" required>
                        <option value="">Renk Seçiniz</option>
                        @foreach (var item in (List<UrunRenkleri>)ViewBag.Renkler)
                        {
                            <option value="@item.id">@item.Renk</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label><b>Numara</b></label>
                    <div class="numaralar mt-1">
                        <input id="numara" name="numara" type="text" required style="width:1px; height:1px; border:0;" />
                        @foreach (var item in (List<UrunNumaralari>)ViewBag.Numaralar)
                        {
                            <span class="kutu" data-value="@item.id">@item.Numara</span>
                        }
                    </div>
                </div>
            </div>
            <hr />
            <div class="mx-3">
                Tedarik süresi @Model.TedarikSureci iş günüdür.
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-siteColor azalt" type="button">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <input type="text" id="adet" name="adet" value="1" class="form-control text-center font-weight-bolder" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-siteColor arttir" type="button">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-lg btn-block btn-siteColor font-weight-bolder sepeteEkle" value="SEPETE EKLE" />
                </div>
            </div>
            <p>
                @Html.Raw(TempData["Mesaj"])
            </p>
        }

        <hr />
        @Html.Raw(Model.Aciklama)


    </div>
</div>